<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Traveller's Blog</title>
</head>
<body>
  <div class="w-full h-screen relative text-white">
			<img src="{{ url_for('static', filename='img/eiffel-tower-in-paris-151-medium.jpg') }}" class="absolute top-0 left-0 w-full h-full object-cover" />

			<header class="z-10 relative mx-auto max-w-6xl px-6 py-8 flex justify-between items-center">

				<a href="#" class="text-xl tracking-wider">PARIS</a>

				<ul class="hidden md:flex uppercase text-sm text-gray-500">
					<li>
						<a href="#" class="text-white">Home</a>
					</li>
					<li class="ml-6">
						<a href="#">Culture</a>
					</li>
					<li class="ml-6">
						<a href="#">History</a>
					</li>
					<li class="ml-6">
						<a href="#">Art</a>
					</li>
				</ul>

			</header>

			<div class="absolute top-0 left-0 w-full h-full flex justify-center items-center text-center px-12">
				<div>
					<h1 class="text-3xl md:text-6xl leading-tight mb-16">PARIS<br class="hidden md:block" />The City Of Lights</h1>
					<a href="#" class="border border-white py-4 px-8 hover:bg-white hover:text-black">Get started</a>
				</div>
			</div>

		</div>


      <section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
      <img alt="feature" class="object-cover object-center h-full w-full" src="{{ url_for('static', filename='img/ef.jpg')}}">
    </div>
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">INTRO</h2>
          <p class="leading-relaxed text-base">The Eiffel Tower, one of the most visited attractions in Paris - nay, the world - welcoming almost seven million visitors per year, opened 129 years ago today</p>
          <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Fact</h2>
          <p class="leading-relaxed text-base">Today the tower welcomes almost 7 million people a year, making it the most visited paid-for monument in the world.</p>
          <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
        <div class="flex flex-col mb-10 lg:items-start items-center">

        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Designed By</h2>
          <p class="leading-relaxed text-base">The Eiffel Tower was built from 1887 to 1889 by French engineer Gustave Eiffel, whose company specialized in building metal frameworks and structures.</p>
          <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>



		<div class="py-24 px-6">

			<div class="max-w-6xl mx-auto mb-12">

				<h2 class="mx-auto text-center text-2xl md:text-5xl max-w-3xl leading-tight text-gray-800 mb-12">History of Paris</h2>


				<p class="mb-6 text-gray-600 mx-auto max-w-lg text-center leading-relaxed">Paris (nicknamed the "City of light") is the capital city of France, and the largest city in France. The area is 105 square kilometres (41 square miles), and around 2.15 million people live there. If suburbs are counted, the population of the Paris area rises to 12 million people.</p>


				<p class="text-gray-600 mx-auto max-w-lg text-center leading-relaxed">For more photography check our <a href="#" class="text-black">Instagram</a></p>

			</div>



			<div class="max-w-5xl mx-auto flex flex-wrap items-start">

				<div class="w-full md:w-1/2 p-4 mb-12">
					<img src="{{ url_for('static', filename='img/street.jpg')}}" class="block w-full h-auto mb-12" />
					<a href="https://simple.wikipedia.org/wiki/Paris" class="block text-2xl text-black text-center mb-6">More About Paris</a>
					<p class="mb-6 text-gray-600 text-center leading-relaxed text-sm">In the top 7 streets to see in Paris, the most famous is undoubtedly the Champs Elysées. This large avenue is one of the longest in Paris with the Vaugirard Street. But it is also one of the most luxurious! The most famous brands can be found there: Dior, Chanel, Cartier, Ladurée and the famous Vuitton giant store..</p>
					<a href="https://simple.wikipedia.org/wiki/Paris" class="block text-black text-center">Read more</a>
				</div>

				<div class="w-full md:w-1/2 p-4 mb-12">
					<img src="{{ url_for('static', filename='img/forest.jpg')}}" class="block w-full h-auto mb-12" />
					<a href="https://www.visitparisregion.com/en/inspiration/top-experiences/top-5-forests-paris-region" class="block text-2xl text-black text-center mb-6">Forests Around Paris</a>
					<p class="mb-6 text-gray-600 text-center leading-relaxed text-sm">alk to anyone about vast green areas in Paris Region and the name of Fontainebleau is sure to come up: its forest is the largest natural space in Ile-de-France. The forest is a peaceful paradise so the ideal destination for anyone looking for a restful place to reconnect with nature. Its vast expanses are also great for an array of outdoor activities such as rock climbing, hiking, mountain-biking or even dog-sledding.</p>
					<a href="https://www.visitparisregion.com/en/inspiration/top-experiences/top-5-forests-paris-region" class="block text-black text-center">Read more</a>
				</div>

			</div>

		</div>



 <h4 class="text-gray-900 text-lg title-font font-medium mb-3">Image Gallery</h4>
<!-- Container for the image gallery -->
<div class="container">

  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
      <img src="{{ url_for('static', filename='img/img1.jpg')}}" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
      <img src="{{ url_for('static', filename='img/img2.jpg')}}" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <img src="{{ url_for('static', filename='img/img3.jpg')}}" style="width:100%">
  </div>

    <div class="mySlides">
    <div class="numbertext">4 / 6</div>
      <img src="{{ url_for('static', filename='img/img4.jpg')}}" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
      <img src="{{ url_for('static', filename='img/img5.jpg')}}" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
      <img src="{{ url_for('static', filename='img/img6.jpg')}}" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
      <div class="column">
      <img class="demo cursor" src="{{ url_for('static', filename='img/img1.jpg')}}" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
    </div>

    <div class="column">
      <img class="demo cursor" src="{{ url_for('static', filename='img/img2.jpg')}}" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ url_for('static', filename='img/img3.jpg')}}" style="width:100% " onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>

      <div class="column">
      <img class="demo cursor" src="{{ url_for('static', filename='img/img4.jpg')}}" style="width:100%" onclick="currentSlide(4)" alt="Cinque Terre">
    </div>

    <div class="column">
      <img class="demo cursor" src="{{ url_for('static', filename='img/img5.jpg')}}" style="width:100%" onclick="currentSlide(5)" alt="Cinque Terre">
    </div>
    <div class="column">
      <img class="demo cursor" src="{{ url_for('static', filename='img/img6.jpg')}}" style="width:100% " onclick="currentSlide(6)" alt="Mountains and fjords">
    </div>

  </div>
</div>


  <style>


  .container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
</style>

  <script>
   var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
  </script>




    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.036 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>
    <h3>Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzVeoPNui1KijJdNFG0uEmO9mlYYeJSJU&callback=initMap&libraries=&v=weekly"
      async></script>



<div class="bg-gray-900 text-gray-100 text-center flex justify-center px-6 py-12">

			<a href="#" class="mx-6 hover:text-gray-600">123 Address</a>
			<a href="#" class="mx-6 hover:text-gray-600">0800 123 456</a>
			<a href="#" class="mx-6 hover:text-gray-600">my@email.com</a>
</div>

</body>
</html>